﻿@{
    ViewBag.Title = "İletişim";
}  
<div class="boxItem col-xs-12 noPadding">
    <h4 class="head">@ViewBag.Title</h4>
    <div class="col-xs-12">
        <h3>@ViewBag.Message</h3>
    </div>
</div>