﻿body {
    padding-top: 50px; 
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
 
select,
textarea {
    max-width: 280px;
}


#content{
    padding-top:30px;
}
#sideMenu{margin-bottom:50px;}


nav .navbar-form{margin-left:0; margin-right:0;}
#searchByFragmen img{width:100%; height:auto;}
#searchByFragmen #searchForm{position: absolute;top: 5px;left: 0;width: 100%; padding-left:5px; padding-right:5px;}
#searchByFragmen .imgContainer{position:relative;}

#sideMenu .boxItem{
    position:relative;
    background: #fbfbfb;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
} 
#sideMenu .boxItem .head{
    margin-top: 0;
    border: 1px solid #dedede;
    text-align: center;
    padding-bottom: 8px;
    padding-top: 8px;
    background: #efefef; 
}
#sideMenu .boxItem .imageSlider{
    padding-left: 6px;
    padding-right: 6px;
}    

.divider{width: 100%;  height: 2px;background: #404040; margin: 22px 0;}
.box{padding: 5px;}
.noPadding{padding:0;}
