﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FRAGMEN</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

        <nav class="navbar navbar-inverse  navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("FRAGMEN", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                        <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filmler <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Korku</a></li>
                                <li><a href="#">Komedi</a></li>
                                <li><a href="#">Bilim Kurgu</a></li>
                            </ul>
                        </li>
                    </ul> 
                    @Html.Partial("_LoginPartial")
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>


    <div id="content" class="container"> 
        <div id="sideMenu" class="col-xs-12 col-sm-3 noPadding">
            @Html.Partial("_SideMenu")
        </div>
        <div class="col-xs-12 col-sm-9">
            @RenderBody() 
            <div class="col-xs-12"><hr /></div>
            <footer class="text-center">
                <p>&copy; @DateTime.Now.Year - FRAGMEN - Türkiyenin En İyi Film/Dizi Tanıtım Sitesi</p>
            </footer> 
        </div> 
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/owl")
    @RenderSection("scripts", required: false)
</body>
</html>
