﻿ <ul class="nav navbar-nav navbar-right"> 
     <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i> <b class="caret"></b></a>
         <ul class="dropdown-menu">
             <li>
                 <form class="navbar-form" role="search">
                     <div class="input-group">
                         <input type="text" class="form-control" placeholder="Ara" name="q">
                         <div class="input-group-btn">
                             <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                         </div>
                     </div>
                 </form> 
             </li> 
         </ul>
     </li>   
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dil<i class="glyphicon glyphicon-power"></i> <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">Türkçe</a></li>
            <li><a href="#">İngilizce</a></li>
        </ul>
    </li> 
    @using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
    { 
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
             @User.Identity.GetUserName() <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Ayarlar","Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Çıkış Yap</a></li>
            </ul>
        </li>
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "logout" }))
        {
            @Html.AntiForgeryToken()
        }
    }
    else
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Giriş<i class="glyphicon glyphicon-power"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Giriş Yap", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                <li>@Html.ActionLink("Üye Ol", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            </ul>
        </li>
    } 
</ul>