﻿
<div id="searchByFragmen" class="boxItem hidden-xs col-sm-12 noPadding">
    <h5 class="head">FRAGMEN 'e Sor !</h5>
    <div class="imgContainer col-xs-12 noPadding">
        <img src="~/images/search_logo.png" />
        <div id="searchForm" class="col-xs-12">
            <form role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Ara" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-xs-12"><hr /></div>
<div id="gununFilmleri" class="boxItem col-xs-12 noPadding">
    <h5 class="head">Günün Filmleri</h5>
    <div class="owl-carousel owl-item1 imageSlider">
        <div class="item"><img src="~/images/no_preview-210X194.png" /></div>
        <div class="item"><img src="~/images/no_preview-210X194.png" /></div>
        <div class="item"><img src="~/images/no_preview-210X194.png" /></div>
        <div class="item"><img src="~/images/no_preview-210X194.png" /></div>
        <div class="item"><img src="~/images/no_preview-210X194.png" /></div>
    </div>
</div>
<div class="col-xs-12"><hr /></div>
<div id="yorumAlanlar" class="boxItem col-xs-12 noPadding">
    <h5 class="head">En Çok Yorum Alanlar</h5>
    <div class="owl-carousel owl-item1 imageSlider">
        <div class="item"><img src="~/images/no_preview-210X194.png" /></div>
        <div class="item"><img src="~/images/no_preview-210X194.png" /></div>
        <div class="item"><img src="~/images/no_preview-210X194.png" /></div>
        <div class="item"><img src="~/images/no_preview-210X194.png" /></div>
        <div class="item"><img src="~/images/no_preview-210X194.png" /></div>
    </div>
</div>
<div class="col-xs-12 hidden-sm hidden-md hidden-lg"><hr /></div>